In [ ]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
sw_nltk = stopwords.words('english')


def get_doc(filename):
  text = open(filename).read()
  chars_to_remove = "!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}“”’~0123456789"
  tr = str.maketrans("", "", chars_to_remove)
  text = text.translate(tr)
  tokens = word_tokenize(text)
  docs = ''
  for word in tokens:
    if word.lower() not in sw_nltk :
      docs += str(word) + ' '
  return docs

doc1 = get_doc('cinderella.txt')
doc2 = get_doc('jackandthebeanstalk.txt')
doc3 = get_doc('thefarmerandthebadger.txt')
doc4 = get_doc('theprincessandthepea.txt')

docs = [doc1,doc2,doc3,doc4]
vec = CountVectorizer()
X = vec.fit_transform(docs)
df = pd.DataFrame(X.toarray(), columns= vec.get_feature_names()).T
df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,able,abundantly,account,across,acrying,adjust,admired,advised,afraid,afterward,...,wouldst,wounds,wrath,wretched,wrinkles,yellow,yes,yet,young,youngest
0,4,1,1,0,1,1,1,1,0,1,...,1,0,0,1,0,1,3,0,5,2
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,1,1,0,0,0,0,2,0,...,0,1,1,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
df['animal']

0    0
1    0
2    5
3    0
Name: animal, dtype: int64

In [ ]:
df['beautiful']

0    7
1    1
2    1
3    0
Name: beautiful, dtype: int64

In [ ]:
df['country']

0    1
1    0
2    0
3    0
Name: country, dtype: int64

In [ ]:
df['badger']

0     0
1     0
2    47
3     0
Name: badger, dtype: int64

In [ ]:
df['account']

0    1
1    0
2    1
3    0
Name: account, dtype: int64

In [ ]:
df['asked']

0    5
1    3
2    4
3    1
Name: asked, dtype: int64

In [ ]:
import numpy as np
np.logical_and(df['animal'],df['beautiful'])

0    False
1    False
2     True
3    False
dtype: bool

In [ ]:
import numpy as np

np.logical_and(df['badger'],np.logical_not(np.logical_or(df['animal'],df['country'])))

0    False
1    False
2    False
3    False
dtype: bool

In [ ]:
df = pd.DataFrame(X.T.toarray())
df['terms'] = vec.get_feature_names()
df = df.set_index('terms')
df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

            0  1  2  3
terms
able        4  0  1  0
abundantly  1  0  0  0
account     1  0  1  0
across      0  0  1  0
acrying     1  0  0  0
...        .. .. .. ..
yellow      1  0  0  0
yes         3  0  0  0
yet         0  0  0  1
young       5  0  0  0
youngest    2  0  0  0

[1102 rows x 4 columns]

In [ ]:
df.loc['asked']

0    5
1    3
2    4
3    1
Name: asked, dtype: int64